body {
    height: 100vh;
    background: url(./img/birk-enwald-3T41dzRTerw-unsplash.jpg) no-repeat center center/ cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#add-task-container {
    width: 350px;
    padding: 20px 10px;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0 0 3px;

    display: flex;
}

input {
    flex: 5;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 3px;
}

#add-task {
    display: flex;
    padding: 5px;
    font-size: 1.2rem;
    transition: .3s;
    background-color: #FFF;
    color: #000;
    border: 3px solid #ccc;
    border-radius: 5px;
}

#add-task:hover {
    background-color: #33C166;
    color: #FFF;
}

.task {
    background: #FFF;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 3px;
    margin-bottom: 5px;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.2rem;
    margin: 10px;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

.task button {
    flex: 1;
    border-radius: 10px;
    background-color: #FFF;
    cursor: pointer;
    margin: 5px 3px;
}

.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: solid 1px orange;
    font-size: 1.2rem;
}

.task .checkTask:hover {
    background-color: orange;
    color: #FFF;
    transition: .3s;
}

.task .deleteTask {
    color: red;
    border: solid 1px red;
    font-size: 1.2rem;
}

.task .deleteTask:hover {
    background-color: red;
    color: #FFF;
    transition: .3s;
}